---
# only main scss file needs front matter (dashes are enough)
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

$font-mono:         'Share Tech Mono', monospace;
$font-sans:         'Share Tech Mono', monospace;//Arial, Helvetica, sans-serif;

$color-primary:      #0CF;
$color-secondary:    #D00;
$color-base:         #1C1C1C;
$color-base-light:   lighten($color-base, 25%);
$color-base-lighter: lighten($color-base, 45%);

$desktop:            960px;

@import
  "base",
  "layout"
;
