---
layout: default
title:  latest
---
<div class="entryContainer">
  coder/designer/lecturer
  <p>
  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
  doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
  veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
  ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
  consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
  </p>
  <p>
  Porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
  adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
  dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
  nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex
  ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
  voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem
  eum fugiat quo voluptas nulla pariatur?
  </p>
</div>

<h1 class="entryContainer">latest work</h1>

{% for post in site.posts limit:5 %}
  <div class="entryContainer">
    <div class="entryInfo">
      <h2>{{ post.title }}</h2>
      {% if post.view %}
        <a href="{{post.view}}">view</a>
      {% endif %}
      <h3>{{ post.date | date: "%Y.%m" }}</h3>
      {{ post.content }}
      <p class="media">
        {{ post.media }}
      </p>
    </div>
    <div class="entryImage"><img src="{{ post.image }}" alt="{{ post.title }}" /></div>
  </div>
{% endfor %}
