---
layout: default
title:  latest
---
<div class="introContainer">
  <p>
  Welcome to tabreturn.com -- a web portfolio of Tristan Bunn's work.
  </p>
  <p>
  Tristan kicked-off his web design career back in the days of PlayStation 1,
  grunge music, and dial-up modems. Since then he's worked on a diverse range
  of cutting-edge digital projects including web campaigns for clients such as
  Samsung, BMW, and Mercedes-Benz; and more recently spent some time in the tech
  startup space.
  </p>
  <p>
  Along the way he's developed into an accomplished coder and designer --
  obtaining degrees in design and computer science along the way -- and is
  currently involved in lecturing, research, and work that blends code,
  interaction, interface design, and creativity.
  </p>
  <p>
  He currently resides in Wellington, New Zealand. You can contact him via
  email:<br />
  <a href="mailto:portfolio@tabreturn.com">portfolio@tabreturn.com</a>
  </p>
</div>

<h1>latest work</h1>

{% for post in site.posts limit:5 %}
    {% include post.html %}
{% endfor %}
