---
layout: default
title:  latest
---
<div class="introContainer">
  <p>
  Welcome to tabreturn.com -- a portfolio website of Tristan Bunn's work.
  </p>
  <p>
  Tristan kicked-off his web design career back in the days of PlayStation 1, 
  grunge music, and dial-up modems. Since then he's worked on a diverse range 
  of cutting-edge digital projects including web campaigns for clients such as 
  Samsung, BMW, and Mercedes-Benz; and more recently has been involved in 
  various Cape Town based tech startups.
  </p>
  <p>
  Along the way he's developed into an accomplished coder and designer --
  obtaining a BTech in Graphic Design and a Masters degree in Information
  Technology in the process -- and is currently involved in lecturing,
  research, and front-end development work.
  </p>
  <p>
  He currently resides in Wellington, New Zealand. You can contact him via
  email:<br />
  <a href="mailto:portfolio@tabreturn.com">portfolio@tabreturn.com</a>
  </p>
</div>

<h1>latest work</h1>

{% for post in site.posts limit:5 %}
  <div class="entryContainer">
    <div class="entryInfo">
      <h2>{{ post.title }}</h2>
      {% if post.view %}
        <a href="{{ post.view }}">view</a>
      {% endif %}
      <h3>{{ post.date | date: "%Y.%m" }}</h3>
      {{ post.content }}
      <p class="media">
        {{ post.media }}
      </p>
    </div>
    <div class="entryImage"><img src="{{ post.image }}" alt="{{ post.title }}" /></div>
  </div>
{% endfor %}
