<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>

{% for category in site.categories %}
  {{ category[0] }}
{% endfor %}





<div id="header">
  <h1>t@breturn</h1>
  coder<strike>/designer/lecturer</strike>
  <ul id="mainNav">
    <li><a href="/" class="sel">latest</a></li>
    <li><a href="research.html">research</a></li>
    <li><a href="illustration.html">illustration</a></li>
    <li><a href="identity.html">id</a></li>
    <li><a href="print.html">print</a></li>
    <li><a href="web.html">web</a></li>
    <li><a href="https://github.com/tabreturn">github</a></li>
    cv
  </ul>
</div>

<br style="clear:both" />
