body, html {
  background-color: $color-base;
  background-image: url('bg.png');
  background-position: center;
  color: $color-base-lighter;
  font-family: $font-sans;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  border-top: 1.1em solid $color-secondary;
  line-height: 1.4em;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  background-color: $color-base-light;
  color: $color-base;
  font-family: $font-mono;
  font-size: 1em;
  font-weight: bold;
  margin-right: 12px;
  max-width: 776px;
}

h2 {
  color: $color-secondary;
  font-family: $font-mono;
  font-size: 0.85em;
  margin: 0;
  margin-top: 12px;
}

h3 {
  color: $color-base-light;
  font-family: $font-mono;
  font-size: 0.85em;
  font-style: italic;
  margin: 0;
}

img {
  border: none;
}
