#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 812px;
  min-height: 350px;
}

header {
  font-family: $font-mono;
  padding: 12px;
  padding-bottom: 0;
  overflow: hidden;

  em {
    color: $color-base-light;
    position: relative;
    top: -0.9em;
  }

  .logo {
    background-color: $color-secondary;
    background-image: url('logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
    border-right: 1px solid $color-secondary;
    float: left;
    height: 75px;
    margin-right: 1em;
    margin-top: -12px;
    width: 75px;
  }

  .tabreturn {
    float: left;
    margin-top: -1em;
  }
}

#mainNav {
  float: right;
  margin: 0;
  margin: 1em 0;
  padding: 0;

  li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 2px 8px;

    &:hover {
      background-color: $color-base-light;
    }

    &:hover a {
      color: #FFF;
    }
  }

  .sel {
    text-decoration: underline;
  }
}

.entryContainer {
  font-family: $font-mono;
  margin-left: auto;
  margin-right: auto;
  max-width: 786px;
  overflow: hidden;
  padding: 12px 0 8px 0;

  &::before {
    content: ">>\A------------------------------------------------------------------------------------------";
    display: block;
    margin-top: 0.4em;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }

  &:first-of-type {
    margin-top: -1em;
  }

  .entryInfo {
    cursor: default;
    float: left;
    padding-right: 20px;
    width: 256px;
  }

  .entryInfo p, .entryInfo a {
    font-family: $font-sans;
    font-size: 0.75em;
  }

  .entryInfo a {
    display: inline-block;
    padding-bottom: 0.5em;
  }

  .media {
    font-style: italic;
  }

  .entryImage {
    float: left;
    max-width: 500px;
    padding: 0.2em 0;

    img {
      width: 100%;
    }
  }
}

#top {
  display: block;
  font-family: $font-mono;
  padding: 1em;
  text-align: right;
}

@media all and (max-width:$desktop) {

  header {
    text-align: center;

    em {
      font-size: 0.8em;
      top: -1.5em;
    }
  }

  #wrapper {
    max-width: 522px;
  }

  #mainNav {
    font-size: 0.8em;
    max-width: 400px;
    margin: auto;
    text-align: left;

    li {
      display: inline;
      float: none;
      line-height: 3em;
    }
  }

  .entryContainer {
    padding-bottom: 1.5em;
    margin: 0 12px;

    &::before {
      content: ">>\A----------------------------------------------------------------";
    }

    .entryInfo {
      width: 100%;
    }
  }

  #top {
    text-align: center;
  }
}

.introContainer {
  @extend .entryContainer;
  font-family: $font-mono;
  padding: 2em 0;
  padding-top: 0.7em;

  p {
    font-size: 0.95em;
    line-height: 1.75em;
  }

  > p:first-child {
    font-weight: bold;
  }

  + h1 {
    font-family: $font-mono;
    font-size: 1.25em;
    padding-left: 0.6em;
    margin-bottom: 0.5em;
  }
}
