#wrapper {
  max-width: 812px;
  margin-left: auto;
  margin-right: auto;
  min-height: 350px;
}

header {
  font-family: $font-head;
  padding: 12px;
  padding-bottom: 0;
  overflow: hidden;
}

#mainNav {  
  margin: 0;
  margin-top: 1em;
  padding: 0;
  
  li {
    margin: 0;
    padding: 2px 12px 2px 0;
    display: inline-block;
    list-style-type: none;
    
    &:hover {
      background-color: $color-base-dark;
    }
    
    &:hover a {
      color: #FFF;
    }
  }
  
  .sel {
    text-decoration: underline;
  }
}

.entryContainer {  
  border-top: 1px solid $color-base-darker;
  max-width: 786px;
  overflow: hidden;
  padding: 12px 0 8px 0;
  margin-left: auto;
  margin-right: auto;
  
  .entryInfo {
    width: 264px;
    float: left;
    padding-right: 12px;
    cursor: default;
  }
  
  .entryInfo p, .entryInfo a {
    font-size: 0.75em;
  }
  
  .media {
    font-style: italic;
  }
  
  .entryImage {
    max-width: 500px;
    float: left;
    
    img {
      border: 5px solid $color-base-darker;
      max-width: 500px;
      width: 100%;
    }
  }
}

#top {
  font-family: $font-head;
  display: block;
  text-align: right;
  padding: 1em;
}

@media all and (max-width:$desktop) {
  
  #header {
    text-align: center;
  }

  #wrapper {
    max-width: 522px;
  }
  
  #mainNav {
    text-align: center;
    font-size: 0.8em;
    
    li {
      line-height: 2em;
    }
  }
  
  .entryContainer {
    padding-right: 12px;
    padding-bottom: 1.5em;
    margin: 0 12px;
    
    .entryInfo {
      width: 100%;
    }
  }
  
  #top {
    text-align: center;
  }
}
