#wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: -2px;
  max-width: 1000px;
  min-height: 350px;
}

h1#pageTitle {
  margin-left: 0.8em
}

header {
  font-family: $font-mono;
  padding: 12px;
  padding-bottom: 0;
  overflow: hidden;

  em {
    color: $color-base-light;
    position: relative;
    top: -1.1em;
  }

  .logo {
    background-color: $color-secondary;
    background-image: url('logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
    border-right: 1px solid $color-secondary;
    float: left;
    height: 84px;
    margin-right: 1em;
    margin-top: -12px;
    width: 84px;
  }

  .tabreturn {
    cursor: default;
    float: left;
    margin-bottom: 1.6em;
    margin-top: -1em;

    a {
      color: inherit;
      display: block;
      font-size: 1.8em;
      font-weight: bold;
      padding: 0.9em 0 0.7em 0;
    }

    em {
      transition: color 0.25s;
      font-size: 0.85rem;

      &:hover {
        color: white;
        transition: color 0.25s;
      }
    }
  }
}

#mainNav {
  float: right;
  font-size: 1.1em;
  margin: 0;
  margin: 1em 0;
  margin-bottom: 1.5em;
  padding: 0;

  li {
    display: block;
    list-style-type: none;
    margin: 0.2em 0;
    padding: 2px 8px;

    &:hover {
      background-color: $color-base-light;
    }

    &:hover a {
      color: #FFF;
    }
  }

  .sel {
    text-decoration: underline;
  }
}

.entryContainer {
  font-family: $font-mono;
  margin-left: auto;
  margin-right: auto;
  max-width: 976px;
  overflow: hidden;
  padding: 8px 0 8px 0;

  &::before {
    content: ">>\A----------------------------------------------------------------------------------------------------------------";
    display: block;
    margin-top: 0.4em;
    white-space: pre-wrap;
  }

  li {
    font-size: 0.85em;
    margin: 0.5em 0;

    &:before {
      content: "__  ";
    }
  }

  ul {
    padding: 0;
  }

  .entryImage {
    float: right;
    max-width: 600px;
    padding: 0.2em 10px 0.2em 0;

    img {
      margin-top: 1em;
      outline: 10px solid $color-base;
      width: 100%;
    }
  }

  .entryInfo {
    cursor: default;
    float: left;
    padding-right: 20px;
    padding-top: 0.3em;
    width: 345px;
  }

  .entryInfo p, .entryInfo a {
    font-family: $font-sans;
    font-size: 0.8rem;
  }

  .entryInfo a {
    display: inline-block;
    padding-bottom: 0.5em;
  }

  .media {
    font-style: italic;
  }
}

#top {
  display: block;
  font-family: $font-mono;
  font-size: 1.1em;
  padding: 1em;
  text-align: right;
}

@media all and (max-width:$desktop) {

  header em {
    font-size: 0.8em;
  }

  #wrapper {
    max-width: 522px;
  }

  #mainNav {
    font-size: 1em;
    max-width: 410px;
    margin: auto;
    margin-bottom: 1.5em;
    text-align: left;

    li {
      display: inline;
      float: none;
      line-height: 3em;
    }
  }

  .entryContainer {
    padding-bottom: 1.5em;
    margin: 0 12px;

    &::before {
      content: "----------------------------------------------------------------";
      white-space: nowrap;
    }

    .entryImage {
      padding-right: 0;
    }

    .entryInfo {
      width: 100%;
    }
  }

  #top {
    text-align: center;
  }
}

.introContainer {
  @extend .entryContainer;
  font-family: $font-mono;
  padding: 2em 0;
  padding-top: 0.7em;

  p {
    font-size: 0.95em;
    line-height: 1.75em;
  }
}

.lb-outerContainer {
  background-color: $color-base !important;
  border-radius: 0 !important;

  .lb-cancel {
    background-image: url('loading.gif') !important;
    background-size: 100% !important;
  }

  .lb-image {
    border: 10px solid $color-base !important;
    border-radius: 0 !important;
  }
}
