body, html {
  padding: 0;
  margin: 0;
  background-color: $color-base;
  font-family: $font-body;
  color: $color-base-darker;
}

body {
  border-top: 5px solid $color-base-darker;
  line-height: 1.25em;
}

a {
  color: $color-accent;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

h2 {
  font-family: $font-head;
  font-size: 0.85em;
  margin: 0;
  margin-top: 12px;
  color: $color-base-darker;
}

h3 {
  font-size: 0.75em;
  margin: 0;
  margin-top: 12px;
}

img {
  border: none;
}
